<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>

  <div style="height: 305px">
    <ul rn-carousel rn-carousel-controls rn-carousel-pause-on-hover rn-carousel-transition="fadeAndSlide" rn-carousel-auto-slide class="carousel5">
      <li ng-repeat="slide in awesomeThings">
        <div ng-style="{'background-image': 'url(' + slide.image + ')'}"  class="bgimage">
        </div>
        <div class="rn-carousel-indicator">
           <span ng-class="{active: $index==index}" ng-click="goToSlide($index)" class="ng-scope">●</span>
        </div>
      </li>
    </ul>
  </div>


  <hr>

  <div class="footer">

  </div>

</div>

</body>
