<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>

  <div>
    <ul rn-carousel rn-carousel-controls rn-carousel-indicator=true" rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-transition="fadeAndSlide" rn-carousel-auto-slide class="carousel5">
      <li ng-repeat="slide in awesomeThings">
        <div ng-style="{'background-image': 'url(' + slide.image + ')'}"  class="bgimage">
        </div>
      </li>
      <div rn-carousel-indicators ng-if="slides.length > 1" slides="awesomeThings" rn-carousel-index="carouselIndex"></div>
    </ul>

  </div>

  <hr>

  <div class="footer">

  </div>

</div>

</body>
